{% extends 'base.html' %}
{% block title %}
{{title}}
{% endblock %}
{% block body %}

<nav class="navbar bg-light shadow text-center">
	<h1 class="mx-auto">
		<b class="text-primary"></b><b class="text-dark">{{title}}</b>
	</h1>
</nav>

<div class="container py-4 my-4">
	<form action="/pass" method="post" accept-charset="utf-8">
		<div class="form-check">
		  <input class="form-check-input upper" type="checkbox" value="upper" id="upper"  checked="true">
		  <label class="form-check-label" for="upper">
		    UpperCase
		  </label>
		</div>
		<div class="form-check">
		  <input class="form-check-input lower" type="checkbox" value="lower" id="lower" checked="true">
		  <label class="form-check-label" for="lower">
		    LowerCase
		  </label>
		</div>
		<div class="form-check">
		  <input class="form-check-input digit" type="checkbox" value="digit" id="digit" >
		  <label class="form-check-label" for="digit">
		    Digit
		  </label>
		</div>
		<div class="form-check">
		  <input class="form-check-input symbols" type="checkbox" value="symbols" id="symbol" >
		  <label class="form-check-label" for="symbol">
		    Symbols
		  </label>
		</div>
		<br>
		<mark>Length of Password</mark>
		<div class="input-group">
			<input type="range" value="9" max="30" min="8" class="form-control-range w-75 length " name="">
			<input readonly="true" style="width:50px" type="text" class="input-group-text" value="3" name="">
		</div>
		<input placeholder="password.." type="text" readonly="true" id="pass" class="form-control output " name="password">
		<textarea name="messege" class="form-control my-2" maxlength="30" minlength="5" id="msg" placeholder="Messege"></textarea>
		<div class="d-flex justify-content-around align-items-center">
			<input type="button" class="btn btn-primary generate" value="Generate Password" name="">
			<input type="button" class="btn btn-primary save" value="Save" name="">
		</div>
	</form>
	<div class="container bg-light py-3 my-4 px-2" style="max-height: 500px; overflow-y: scroll;">
		<table class="table">
		  <thead class="bg-dark text-white">
		    <tr>
		      <th scope="col">SNO</th>
		      <th scope="col">Key</th>
		      <th scope="col">Password</th>
		      <th scope="col">Messege</th>
		      <th scope="col">Time</th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for x in password %}
			<tr>
				<td scope="col">{{loop.index}}</td>
				<td scope="col">{{x.key}}</td>
				<td scope="col">{{x.password}}</td>
				<td scope="col">{{x.messege}}</td>
				<td scope="col">{{x.time_stamp}}</td>
			</tr>
			{% endfor %}
			
		  </tbody>
		</table>
	</div>
</div>
{% endblock %}
